body {
    margin: 0px;
}

header {
    text-align: center;
    background-color: midnightblue;
    color: white;
    font-size: 4.5vh;
    height: 6.5vh;
}

.selectpage {
    text-align: center;
}

.nonexist {
    color: black;
    cursor: not-allowed;
    text-decoration: line-through;
}

footer {
    background-color: midnightblue;
    color: white;
}

.footerright {
    /*float: right;*/
    margin-bottom: 0px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 50%;
    width: 50%;
}

.footerleft {
    /*float: left;*/
    margin-bottom: 0px;
    width: 50%;
}